# Указываем версию синтаксиса docker-compose
version: '3.8'

# Определяем список наших сервисов (в данном случае он один)
services:
  # Имя нашего сервиса
  student-app:
    # Указываем, что образ нужно собрать из Dockerfile,
    # который находится в текущей директории ('.')
    build: .
    # Даем имя образу, который будет собран
    image: skillbox/student-app
    # Даем имя контейнеру для удобства
    container_name: student-app-container
    
    # Эти две строки КРИТИЧЕСКИ ВАЖНЫ для консольного приложения.
    # Они позволяют нам взаимодействовать с Spring Shell внутри контейнера.
    # stdin_open: true  # держит открытым "вход" для наших команд
    # tty: true         # эмулирует терминал
    stdin_open: true
    tty: true
